# default
ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.3
kedro-datasets>=1.0
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
notebook
kedro-docker~=0.5.0

# dev
pytest~=7.2
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
ruff~=0.1.8
pre-commit~=3.7.0

# extra
kedro[all]
numpy~=1.26.4
pandas~=2.2.1
scikit-learn~=1.4.1
thefuzz~=0.22.1
# geobr~=0.2.1
# html5lib~=1.1
