ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.3
kedro-datasets>=1.0
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
notebook
kedro-docker~=0.5.0
-r requirements.dev.txt

numpy
pandas
thefuzz~=0.22.1
# geobr~=0.2.1
# html5lib~=1.1
